.headerClass {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 120px;
    background-color: #F4F5F7;
    position:fixed;
    color : #111;
    border-bottom: 1px solid #808080; 

    .title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        P {
            font-size: 40px;
            font-family: Didot;
            margin: 0px;
            font-weight: bold;
        }

        LABEL {
            font-size: 18px;
            font-family: Didot;
            margin: 20px;
        }

    }

}

.mainClass {
    background-color: #F2F2F2;
    margin-top: 120px;
    text-align: center;
    display: grid;
    place-items: center;

    .worksArea {
        background-color: #f1ffef;
        width: 80%;
    }

}
