.item {

    text-align: left;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    margin-left: 200px;

    .scriptIMG {
        width: 40%;
        height: 40%;
    }

}

.detail {
    margin-left: 30px;

    .title {
        font-size: 30px;
        font-weight: bold;
        font-family: 'DIN Condensed', sans-serif;
    }
    
}

