$space: clamp(90px, 9vw, 120px);
.workContainer {
    margin-top: 20px;
    A {
        text-decoration: none;
    }
    H1 {
        font-size: clamp(30px, 4vw, 50px);
        min-height: 0vw;
        font-weight: bold;
        line-height: 1.2em;
        margin-top: -87px;
        position: sticky;
        color: #FFF;
    }
}

.workTitle {
    text-align: center;
    H1 {
        font-weight: 700;
        font-size: clamp(40px, 5.2vw, 70px);
        min-height: 0;
        color: #4b4b4b
    }
}

.graphics {
    padding: $space 0;
    background-color: #fffff9;
    .graphicsContainer {
        display: grid;
        gap: 32px 50px;
        A {
            text-decoration: none;
        }
        FIGURE {
            margin: 0;
            padding: 0;
            padding: $space 0;
            IMG {
                max-width: 100%;
                height: auto;
                aspect-ratio: 3 / 2;
                object-fit: cover;
            }
            SPAN {
                text-align: center;
                H2 {
                    color: #808080;
                    font-weight: normal;
                    font-size: clamp(12px, 0.9vw, 20px);
                }
            }
        }
    }
}

@supports not (aspect-ratio: 3 / 2) {
    .graphicsContainer {
        IMG {
            height: 180px;
        }
    }
}

@media (max-width: 767px) {
    .workTitle {
        margin-top: 40px;
    }
    .graphicsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .graphicsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}