$space: clamp(90px, 9vw, 120px);
.workContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    A {
        text-decoration: none;
    }
    H1 {
        font-size: clamp(30px, 4vw, 50px);
        min-height: 0vw;
        font-weight: bold;
        line-height: 1.2em;
        margin-top: -87px;
        position: sticky;
        color: #FFF;
    }
}

.graphics {
    padding: $space 0;
    background-color: #f3f1ed;
    .workTitle {
        text-align: center;
        H1 {
            font-weight: bold;
            font-size: 70px;
        }
    }
    IMG {
        width: 1000px;
        height: 750px;
    }
}