.workContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    A {
        text-decoration: none;
    }
    H1 {
        font-size: clamp(30px, 4vw, 50px);
        min-height: 0vw;
        font-weight: bold;
        line-height: 1.2em;
        margin-top: -87px;
        position: sticky;
        color: #FFF;
    }
}

.workTitle {
    text-align: center;
}