.fontRound {
    display: inline-block;
    opacity: 1;
    transition: all 0.8s;
    color:#FFF;
    font-size: 65px;
    font-family: 'Montserrat Subrayada', sans-serif;

    &:hover {
        transform: rotateX(360deg) scale(1.1);
        opacity: 0.5;
        color:#FFF;
    }

}