
.shutter{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background-color:#EEE;
    z-index:99;
    -webkit-animation: byeShutter 3.5s forwards;
    animation: byeShutter 3.5s forwards;
}

.logo {
    position: absolute;
    width: 100vw;
    top: 50vw;
    left: 50vh;
    margin: auto;
    -webkit-animation: logo 1s forwards;
    animation: logo 1.5s forwards;
    animation-delay: 0.2s;
}

@keyframes byeShutter {
    70% {
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes logo {
    0% {
        opacity: 1;
    }
    
    50% {
        transform: rotate(0deg);     
    }
    
    100% {
        transform: scale(0.8);
    }
}