@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.contents {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    z-index: 2;
    margin-top: 80px;
    margin-left: 0px;
}

.item {
    
    position: relative;/*相対配置*/

    SPAN {
        position: absolute;
        top:-10px;
        left: -30px;
        color: #FFF;
        z-index: 5;
        font-family: 'Itim', cursive;
    }
    
    IMG {
        width: 110%;
        height: 125%;
        margin-top: -10px;
        z-index: 4;
    }

    border: 2px solid #FFF;
    
    font-size: 50px;
    width: calc(100vw/4);
    height: calc(100vh/3);
    padding: 30px 20px;
    text-align: center;
    opacity: 0.8;
    text-decoration: none;

    .second {
        margin-left: 70px;
    }

    &::after {
        position: absolute;
        top: 45px;
        left: 0;
        content: '';
        width: 70%;
        height: 3px;
        background: #e0ffff;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-left: -30px;
    }

    &:hover::after {
        top: 35px;
        opacity: 0.8;
        visibility: visible;
    }
    

}

.fadeUp{
    
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeDown{
    animation-name:fadeDownAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
@keyframes fadeDownAnime{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
