.contents {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    z-index: 2;
    margin-top: 80px;
    margin-left: 0px;
}

.item {
    
    position: relative;/*相対配置*/

    SPAN {
        position: absolute;
        top:-10px;
        left: -30px;
        color: #FFF;
        z-index: 5;
        font-family: 'Montserrat Subrayada', sans-serif;
    }
    
    IMG {
        width: 110%;
        height: 125%;
        margin-top: -10px;
        z-index: 4;
        opacity: 0.5;
    }

    border: 2px solid #FFF;
    
    font-size: 45px;
    width: calc(100vw/4);
    height: calc(100vh/3);
    padding: 30px 20px;
    text-align: center;
    opacity: 0.8;

    .second {
        margin-left: 70px;
    }

}
