HEADER {
    height: clamp(80px, 9vw, 122px);
    background-color: transparent;
    margin: 0;
    z-index: 0;
    position: relative;
    color: #EEE;
}

.w-container {
    width: unquote('min(92%, 1166px)');
    margin: auto;
}

H1 {
    margin: 0;
}


/** オプションリスト */

.menuList {
    background-color: transparent;
    height: clamp(735px, 82vh, 1200px);
    position: relative;
}