@charset "UTF-8";
$--v-space: clamp(35px, 8vw, 50px);

/** メニュー全体 */

.posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 100px;
    .post {
        padding: $--v-space 0;
        background-color: transparent;
    }
}

@media (min-width: 768px) {
    .posts-container {
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        align-items: center;
        overflow: scroll hidden;
        IMG {
            aspect-ratio: 3 / 2;
            object-fit: cover;
            width: 450px;
            height: 400px;
        }
        SPAN {
            position: sticky;
            top: 230px;
        }
        H2 {
            color: #FFF;
            font-weight: bold;
            font-size: 50px;
        }
        A {
            text-decoration: none;
        }
    }
}

@media (max-width: 767px) {
    .post {
        IMG {
            margin-top: -15px;
            aspect-ratio: 3 / 2;
            object-fit: cover;
            width: 215px;
            height: 180px;
        }
        H2 {
            color: #FFF;
            font-weight: bold;
            font-size: 30px;
        }
        A {
            text-decoration: none;
        }
    }
}