@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.allAbout {
    height: 85vh;
    .bgImg {
        background-size: 95vw;
        opacity: 0;
        position: absolute;
        top: 20vh;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        animation: bgAnime 16s infinite;
        h1 {
            font-size: 17vw;
            font-weight: bold;
            text-align: center;
            line-height: 0.9em;
            letter-spacing: 0.1em;
            font-family: 'Monoton';
        }
    }
}

@keyframes bgAnime {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.skillArea {
    height: 100vh;
    padding: 20px 0px;
    H2 {
        font-size: 50px;
        color: #808080;
    }
    H3 {
        padding: 18px 0;
    }
    .skill-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px 25px;
        overflow: hidden;
        .skillPost {
            IMG {
                width: 200px;
                height: 150px;
            }
        }
    }
}

@media (min-width: 768px) {
    .skill-container {
        grid-template-columns: repeat(3, 1fr);
    }
}