.allAbout {
    width: 100vw;
    text-align: center;
    overflow: hidden;
    margin: auto;
    .bgImg {
        width: 100vw;
        background-size: 95vw;
        height: 80vh;
        opacity: 0;
        position: absolute;
        top: 20vh;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        animation: bgAnime 12s infinite;
        h1 {
            font-size: 17vw;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            line-height: 0.8em;
            letter-spacing: 0.1em;
        }
    }
}

@keyframes bgAnime {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}