.App {
  position: absolute;
  width: 450px;
  height: 200px;
  top: 30px;
  left: 60px;
  z-index: 2;
  font-size: 65px;
  font-family: 'Montserrat Subrayada', sans-serif;

  .fontRound {
    display: inline-block;
    opacity: 0.8;
    transition: all 0.3s;
    color:#FFF;

    &:hover {
      transform: scale(1.1) ;
      opacity: 1;
      color:#AAA;
    }

  }
  

}


