.App {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 30px;
  left: 60px;
  z-index: 2;
  color:#FFF;
  opacity: 0.7;
  font-size: 65px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

